20221123205433.mp4
20221124052445.mp4
estudio1.css
estudio1.html
estudio2 (gradiente texto y recuadro).html
estudio2.css
estudio3 (botones).html
estudio3.css
estudio5 (listas ordenadas y desordendas).html
index - copia.html
index.html
si hago web compleja, copiar y explicar codigo.txt
