*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Century Gothic;/* sans-serif */
}

/* #transparencia{
    position: absolute;
    background-image: linear-gradient(rgba(255, 145, 0, 0.534),rgb(8, 0, 12));
    width: 100%;
    height: 100%;
    z-index: -1;
} */


html {
    scroll-behavior: smooth;
  }
  
  .fade-out {
    transition: opacity 1s ease-in-out;
    opacity: 1;
  }
  
  .fade-out.scrolled {
    opacity: 0;
  }


.backvideo {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
}
@media (max-aspect-ratio: 16/9){
    .backvideo{
        width: auto;
        height:100%;
    }
}


body{
    position: absolute;
    height: 100%;
    width: 100%;

}
.hero{
    text-align: center;
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

 #ul-menu{
    background: transparent;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 13%;
    position: absolute;
    top: 0px;
    padding-top: 10px;
    left: 0px;
    z-index: 10;
}


#ul-menu ul{
    list-style: none;
}

 #menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 90%;
    transition: 0.4s;
    display: inline-block;
    padding-top: 10px;
}
#menu ul li a:hover{
    background-image: linear-gradient(rgba(255, 255, 255, 1),rgba(0, 0, 0, 0));
    -webkit-background-clip: text;
    color: transparent;
}

#menu ul li ul a{
    height: 0px;
    overflow: hidden;
}

#menu ul li:hover ul li a{
    height: 30px;
}


#categorias{
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; 
    width: 90%;
    height: 2000px;
    top: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
}

.especial {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
    padding: 10px;
  }
/* 
#categorias ul{
    list-style: none;
    text-decoration: none;
    flex-direction: column;
}
 */
#categorias div{
    /* position: absolute;
    /* width: 48%; */
    /* height: 46%;  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    align-items: center; 
    padding-top: 20px;
}

#categorias li{
    left: 0;
    list-style: none;
    left: 0;
}
#categorias a{
    color: white;
    text-decoration: none;
    /* z-index: 10; */
}

.logos{
    position: relative;
    height: 20px;
    top: 2px;
    margin-right:5px;
}

footer{
    position: absolute;
    height: 10%;
    bottom: 0;
}